<div class="showTitleObject">Editing Dog</div>
<% form_for(@dog,:html => { :multipart => true }) do |f| %>
<%= f.error_messages %>
<p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
</p>
<p>
  <%= f.radio_button :family, "Hominid" %> <%= boots_icon_black %>
  <%= f.radio_button :family, "Canine" %> <%= paws_icon_black %>
</p>
<p>
    <%= f.label :birth_date %><br/>
    <%= f.date_select :birth_date, :start_year => 1950 %>
</p>
<p>
    <%= f.label :ham %><br/>
    <%= f.text_field :ham %>
</p>
<p>
    <%= f.label :known_for %> (Each thing on a separate line)<br/>
    <%= f.text_area :known_for %>
</p>
<p>
    <%= f.label :profile %><br/>
    <%= f.text_field :profile %>
</p>
<p>
    <%= f.label :active %><br/>
    <%= f.check_box :active %>
</p>
<%= render :partial => "/shared/checkbox_selector", 
    				:locals => { :label => "Trips", 
					:item_array => Trip.by_date, 
					:check_field => @dog.trips,
					:array_to_update => "dog[trip_ids][]" } %>
<%= render :partial => "/shared/checkbox_selector", 
    				:locals => { :label => "Hikes", 
					:item_array => Hike.by_date, 
					:check_field => @dog.hikes,
					:array_to_update => "dog[hike_ids][]" } %>

  <p>
    <%= render :partial => "/shared/photo_browser", 
            :locals => {
              :f => f, 
              :obj => @dog } %>
  </p>

<p>
    <%= f.submit 'Update' %>
</p>
<% end %>
<%= link_to 'Show', @dog %> |<%= link_to back_icon_large, dogs_path %>