<h1>New dog</h1>

<% form_for(@dog,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<p>
  <%= f.radio_button :family, "Hominid" %> <%= boots_icon %>
  <%= f.radio_button :family, "Canine" %> <%= paws_icon %>
</p>
  <p>
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date, :start_year => 1945 %>
  </p>
  <p>
    <%= f.label :ham %><br />
    <%= f.text_field :ham %>
  </p>
  <p>
    <%= f.label :profile %><br />
    <%= f.text_field :profile %>
  </p>
<%= render :partial => "/shared/checkbox_selector", 
    				:locals => { :label => "Trips", 
					:item_array => Trip.by_date, 
					:check_field => @dog.trips,
					:array_to_update => "dog[trip_ids][]" } %>
<%= render :partial => "/shared/checkbox_selector", 
    				:locals => { :label => "Hikes", 
					:item_array => Hike.by_date, 
					:check_field => @dog.hikes,
					:array_to_update => "dog[hike_ids][]" } %>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
    <p>
    <%= f.label 'Photo' %><br />
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', dogs_path %>