<div class="showTitleObject"><%=h @dog.name %> <%= @dog.family == "Hominid" ? boots_icon_white : paws_icon_white %></div>

<table><tr>
  <td>
    <% if @dog.photo.exists? then %>
      <%= image_tag @dog.photo.url(:large) %>
    <% end %>
  </td>
<td>

<table class="maroonRoundedBorder">
<tr>
  <th class="firstVerticalColumnHeader">Age:</th>
  <td><%=h age(@dog.birth_date) %></td>
</tr>

<tr>
  <th>Ham:</th>
  <td><%=h @dog.ham %></td>
</tr>

  <%= render :partial => "/shared/show_table_list", 
    				:locals => { :label => "Trips", :obj_array => @dog.trips } %>
  <%= render :partial => "/shared/show_table_list", 
    				:locals => { :label => "Hikes", :obj_array => @dog.hikes } %>
  <%= render :partial => "/shared/show_table_list", 
    				:locals => { :label => "Rigs", 
                         :header_class => "lastVerticalColumnHeader",
    				             :obj_array => @dog.rigs } %>

</table>
</td></table>

<%= render :partial => "/shared/crud_links_edit_new_list", :locals => { 
    :obj => @dog
 } %>
