<p>
  <b>Make:</b>
  <%=h @radio.make %>
</p>

<p>
  <b>Model:</b>
  <%=h @radio.model %>
</p>

<p>
  <b>Description:</b>
  <%=h @radio.description %>
</p>

<p>
  <b>Picture:</b>
  <%=h @radio.picture %>
</p>


<%= link_to 'Edit', edit_radio_path(@radio) %> |
<%= link_to 'Back', radios_path %>