<div class="showTitleObject">Editing Hike</div>

<% form_for(@hike,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date, :start_year => 1995 %>
  </p>
  <p>
    <%= f.label :trip_id, "Trip" %><br/>
    <%= f.collection_select(:trip_id, Trip.by_date, :id, :name) %>
  </p>
  <%= render :partial => "/shared/checkbox_selector", 
    				:locals => { :label => "Dogs", 
					:item_array => Dog.by_name, 
					:check_field => @hike.dogs,
					:array_to_update => "hike[dog_ids][]" } %>

  <p>
    <%= f.label 'Photo' %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hike %> |
<%= link_to 'Back', hikes_path %>