
<h1><%=h @hike.name %> Hike</h1>
<h3><%=h @hike.date.strftime('%A %B %d, %Y') %></h3>

<table class="maroonRoundedBorder">
  
<tr>
  <th class="firstHorizontalColumnHeader" >Trip:</th>
  <th class="lastHorizontalColumnHeader" >Dogs:</th>
</tr>
<tr>
  <td class="horizontalData"><%= link_to @hike.trip.name, @hike.trip %></td>
  <td class="horizontalData">
      <% @hike.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>

</table>
<p>
<%= link_to edit_icon_large, edit_hike_path(@hike) , {:title => "Edit Hike Info"} %> |
<%= link_to back_icon_large, hikes_path, {:title => "View Hike List"}%> | 
<%= link_to write_up_icon, new_hike_story_path(:hike_id => @hike.id), {:title => "Add a write-up for this hike"} %>
</p>
<h2>Hike Write-ups</h2>
<table>
<% @hike.hike_stories.each do |hike_story| %>

<% if hike_story.photo.exists? then %>
  <% img_link = image_tag hike_story.photo.url(:list_thumb) %>
<% else %>
  <% img_link = "Get the story"%>
<% end %>

  <tr>
    <td><%= link_to img_link, hike_story %></td>
    <td>
      <div class="roundedTitleArea">
        <%= link_to "#{hike_story.hike.name} Hike in #{hike_story.hike.date.strftime('%B %Y')}, by #{hike_story.dog.name}", hike_story %>
      </div>
      <div class="roundedTextArea">
      <% if hike_story.short_description then %>
        <p ><%= hike_story.short_description %></p>
      <% end %>   
      </div>   
    </td>
    <td><%= link_to edit_icon, edit_hike_story_path(hike_story) %></td>
    <td><%= link_to delete_icon, hike_story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

