
<h1><%=h @hike.name %> Hike</h1>
<h3><%=h @hike.date.strftime('%A %B %d, %Y') %></h3>

<table class="maroonRoundedBorder">
  
<tr>
  <th class="firstHorizontalColumnHeader" >Trip:</th>
  <th class="lastHorizontalColumnHeader" >Dogs:</th>
</tr>
<tr>
  <td class="horizontalData"><%= link_to @hike.trip.name, @hike.trip %></td>
  <td class="horizontalData">
      <% @hike.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>

</table>
<p>
<%= link_to edit_icon_large, edit_hike_path(@hike) , {:title => "Edit Hike Info"} %> |
<%= link_to back_icon_large, hikes_path, {:title => "View Hike List"}%> | 
<%= link_to write_up_icon, new_hike_story_path(:hike_id => @hike.id), {:title => "Add a write-up for this hike"} %>
</p>
<% @hike.hike_stories.each do |hike_story| %>
  <% dog = Dog.find(hike_story.dog_id).name %>
  <div class="roundedTitleArea">According to <%= dog %>... 
    <%= link_to edit_icon, edit_hike_story_path(hike_story) %>  
    <%= link_to delete_icon, hike_story, :confirm => 'Are you sure?', :method => :delete %>

    </div>
  <div class="roundedTextArea"><%= hike_story.description %></div>
  <br>
<% end %>

