
<h1><%=h @hike.name %> Hike</h1>
<h3><%=h @hike.date.strftime('%A %B %d, %Y') %></h3>

<table class="maroonRoundedBorder">
  
<tr>
  <th class="firstHorizontalColumnHeader" >Trip:</th>
  <th class="lastHorizontalColumnHeader" >Dogs:</th>
</tr>
<tr>
  <td class="horizontalData"><%= link_to @hike.trip.name, @hike.trip %></td>
  <td class="horizontalData">
      <% @hike.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>
</table>

<%= render :partial => "/shared/crud_links_edit_new_list_writeup", :locals => { 
    :obj => @hike,
 } %>

<h2><%= @hike.name %> <%= @hike.class.name %> Write-ups</h2>
<%= render :partial => "/shared/writeup_list", :locals => { 
  :obj_stories => @hike.hike_stories,
  :obj_field => "hike"
 } %>


