<table><tr>
  <td>
    <% if @hike.photo.exists? then %>
      <%= image_tag @hike.photo.url(:large) %>
    <% end %>
  </td>
<td>

<table class="maroonRoundedBorder">
<tr>
  <th class="firstHorizontalColumnHeader" >Trip:</th>
  <th class="lastHorizontalColumnHeader" >Dogs:</th>
</tr>
<tr>
  <td class="horizontalData"><%= link_to @hike.trip.name, @hike.trip %></td>
  <td class="horizontalData">
      <% @hike.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>
</table>
</td></table>
<%= render :partial => "/shared/crud_links_edit_new_list_writeup", :locals => { 
    :obj => @hike,
 } %>

<INPUT TYPE="button" value="Open in Google Earth" onClick="location.href=getMapKml()">


<div id="map_canvas"></div>


<% if @hike.hike_stories.size > 0 then %>
<h2><%= @hike.name %> <%= @hike.class.name %> Write-ups</h2>
<%= render :partial => "/shared/writeup_list", :locals => { 
  :obj_stories => @hike.hike_stories,
  :obj_field => "hike"
 } %>

<% else %>
<h2>No write-up exists for this hike yet.  
  <% if current_user %>  

  <%= link_to "Write one!", 
  {:controller => :hike_stories, :action => "new", :hike_id => @hike.id}, 
  {:title => "Add a write-up for this hike"} %>
  </h2>
  <% end %>
<% end %>

<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(36.338446, -117.47087);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var mapUrl = getMapKml();
    //alert("shibby!:" + mapUrl);
    
    // use that layer now
    var ctaLayer = new google.maps.KmlLayer(mapUrl);
    ctaLayer.setMap(map);
    
  }
  
  function getMapKml() {
    // this won't work with localhost, because when sent to google, it must be a publicly available url.    
    var this_domain = document.domain;
    if (this_domain == "localhost") {
      this_domain += ":3000";
    }
    var randomnumber=Math.floor(Math.random()*101);
    var mapUrl = "http://" + this_domain + "/hikes/get_kml/"+ randomnumber + "/" + <%= @hike.id %> + ".kml";
    return mapUrl;
  }

</script>
