<table><tr>
  <td>
    <% if @hike.photo.exists? then %>
      <%= image_tag @hike.photo.url(:large) %>
    <% end %>
  </td>
<td>

<table class="maroonRoundedBorder">
<tr>
  <th class="firstHorizontalColumnHeader" >Trip:</th>
  <th class="lastHorizontalColumnHeader" >Dogs:</th>
</tr>
<tr>
  <td class="horizontalData"><%= link_to @hike.trip.name, @hike.trip %></td>
  <td class="horizontalData">
      <% @hike.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>
</table>
</td></table>
<% if @hike.hike_stories.size > 0 then %>
<%= render :partial => "/shared/writeup_list", :locals => { 
  :obj_stories => @hike.hike_stories,
  :obj_field => "hike"
 } %>
<% end %>
<% if @hike.trip.trip_stories.size > 0 then %>
<%= render :partial => "/shared/writeup_list", :locals => { 
  :obj_stories => @hike.trip.trip_stories,
  :obj_field => "trip"
 } %>
<% end %>

<%= render :partial => "/shared/crud_links_edit_new_list_writeup", :locals => { 
    :obj => @hike,
 } %>

<INPUT TYPE="button" value="Open in Google Earth" onClick="location.href=getMapKml('hikes', <%= @hike.id %>)">
<div id="map_canvas"></div>


<script language="javascript" type="text/javascript">
  $("#map_canvas").load(initialize_map('hikes', <%= @hike.id %>));
</script>