<div class="showTitleObject">Editing Write-up</div>

<% form_for(@trip_story,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dog_id, "According to" %><br/>
    <%= f.collection_select(:dog_id, Dog.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :trip_id, "Trip" %><br/>
    <%= f.collection_select(:trip_id, Trip.all, :id, :name) %>
  </p>
  <p>
    <%= render :partial => "/shared/photo_browser", 
            :locals => {
            :f => f, 
            :obj => @trip_story } %>
  </p>
  
  <%= render :partial => "/shared/writeup_synopsis_and_editor", 
            :locals => {
            :f => f } %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trip_story %> |
<%= link_to 'Back', trip_stories_path %>