<div class="showTitleObject">New Write-up</div>
<% @trip_story.trip_id = params[:trip_id] %>
<% form_for(@trip_story,:html => { :multipart => true }) do |f| %>

  <%= f.error_messages %>
  <p>
    <%= f.label :dog_id, "According to" %><br/>
    <%= f.collection_select(:dog_id, Dog.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :trip_id, "Trip" %><br/>
    <%= f.collection_select(:trip_id, Trip.all, :id, :name) %>
  </p>
  <p>
    <%= f.label 'Photo' %><br />
    <%= f.file_field :photo %>
  </p>

  <%= render :partial => "/shared/writeup_synopsis_and_editor", 
            :locals => {
            :f => f } %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', trip_stories_path %>