<div class="showTitleObject">Editing Trip</div>

<% form_for(@trip,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date, :start_year => 1995 %>
  </p>
  <%= render :partial => "/shared/checkbox_selector", 
    				:locals => { :label => "Dogs", 
					:item_array => Dog.by_name, 
					:check_field => @trip.dogs,
					:array_to_update => "trip[dog_ids][]" } %>
  <%= render :partial => "/shared/checkbox_selector", 
    				:locals => { :label => "Rigs", 
					:item_array => Rig.by_name, 
					:check_field => @trip.rigs,
					:array_to_update => "trip[rig_ids][]" } %>

  <p>
    <%= f.label 'Photo' %><br />
    <%= f.file_field :photo %>
  </p>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trip %> |
<%= link_to 'Back', trips_path %>