<table>
<% @trips.each do |trip| %>
  <tr>
    <td>
      <% if trip.photo.exists? then %>
        <%= link_to image_tag(trip.photo.url(:list_thumb), :size => "110x110"), trip %>
      <% end %>
    </td>
    <td>
		<div class="roundedTitleArea">
			<%=h trip.date.strftime('%Y-%b') %> - <%= link_to trip.name, trip %>

		</div>
		<div class="roundedTextArea"><div class="roundedTextAreaHeightFixer"></div>
	      <table><tr>
		<td class="hikeListForTripList">
			<% if trip.hikes.size > 0 then %>
	          <% trip.hikes.each do |hike| %>
	              <%= link_to hike.name + " hike", hike %><br class = "clear">
	          <% end %>  
	      <% end %>  
			<div class="clear"></div>
		</td>
		<td class="storyListForTripList">
			<% if trip.trip_stories.size > 0 then %>
				<% trip.trip_stories.each do |tstory| %>
					<%= link_to tstory.dog.name + "'s trip writeup"%><br>
				<% end %>
			<% end %>
			<% trip.hikes.each do |hike| %>
				<% if hike.hike_stories.size > 0 then %>
					<% hike.hike_stories.each do |hstory| %>
						<%= link_to hstory.dog.name + "'s hike writeup"%><br>
					<% end %>
				<% end %>
			<% end %>
		</td>
		</tr></table>
		</div>   

	</td>
    <td><%= render :partial => "/shared/crud_links_edit_delete_small", :locals => {
        :obj => trip
     } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= render :partial => "/shared/crud_links_new", :locals => { 
    :obj => Trip
} %>