<table><tr>
  <td>
    <% if @trip.photo.exists? then %>
      <%= image_tag @trip.photo.url(:large) %>
    <% end %>
  </td>
<td>
<table class="maroonRoundedBorder">
  
<tr>
  <th class="firstHorizontalColumnHeader" >Dogs:</th>
  <th>Rigs:</th>
  <th class="lastHorizontalColumnHeader" >Hikes:</th>
</tr>
<tr>
  <td class="horizontalData">
      <% @trip.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.rigs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.hikes.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>
</table>
</td></tr></table>
<% if @trip.trip_stories.size > 0 then %>
<%= render :partial => "/shared/writeup_list", :locals => { 
  :obj_stories => @trip.trip_stories,
  :obj_field => "trip"
 } %>
<% end %>
<% @trip.hikes.each do |hike| %>
<%= render :partial => "/shared/writeup_list", :locals => { 
  :obj_stories => hike.hike_stories,
  :obj_field => "hike"
 } %>
<% end %>


<%= render :partial => "/shared/crud_links_edit_new_list_writeup", :locals => { 
    :obj => @trip
 } %>

<INPUT TYPE="button" value="Open in Google Earth" onClick="location.href=getMapKml('trips', <%= @trip.id %>)">
<div id="map_canvas"></div>


<script language="javascript" type="text/javascript">
  $("#map_canvas").load(initialize_map('trips', <%= @trip.id %>));
</script>