<h1><%=h @trip.name %></h1>
<h3><%=h @trip.date.strftime('%A %B %d, %Y') %></h3>
<table class="maroonRoundedBorder">
  
<tr>
  <th class="firstHorizontalColumnHeader" >Dogs:</th>
  <th>Rigs:</th>
  <th class="lastHorizontalColumnHeader" >Hikes:</th>
</tr>
<tr>
  <td class="horizontalData">
      <% @trip.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.rigs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.hikes.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>
</table>
<%= link_to edit_icon_large, edit_trip_path(@trip) %> |
<%= link_to new_icon_large, new_trip_path %> |
<%= link_to back_icon_large, trips_path %>