<h1><%=h @trip.name %></h1>
<h3><%=h @trip.date.strftime('%A %B %d, %Y') %></h3>
<table class="maroonRoundedBorder">
  
<tr>
  <th class="firstHorizontalColumnHeader" >Dogs:</th>
  <th>Rigs:</th>
  <th class="lastHorizontalColumnHeader" >Hikes:</th>
</tr>
<tr>
  <td class="horizontalData">
      <% @trip.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.rigs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.hikes.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>
</table>

<%= render :partial => "/shared/crud_links_edit_new_list_writeup", :locals => { 
    :obj => @trip
 } %>
