<h1><%=h @trip.name %></h1>
<table>
  
<tr>
  <th>Date:</th>
  <td><%=h @trip.date %></td>
</tr>
  <%= render :partial => "/shared/show_table_list", 
    				:locals => { :label => "Dogs", :obj_array => @trip.dogs } %>
  <%= render :partial => "/shared/show_table_list", 
					:locals => { :label => "Rigs", :obj_array => @trip.rigs } %>
  <%= render :partial => "/shared/show_table_list", 
    				:locals => { :label => "Hikes", :obj_array => @trip.hikes } %>

</table>

<%= link_to edit_icon_large, edit_trip_path(@trip) %> |
<%= link_to new_icon_large, new_trip_path %> |
<%= link_to back_icon_large, trips_path %>