<%= render :partial => "/shared/title_header", :locals => { 
    :title => @trip.name,
    :date => @trip.date
} %>

<table><tr>
  <td>
    <% if @trip.photo.exists? then %>
      <%= image_tag @trip.photo.url(:large) %>
    <% end %>
  </td>
<td>
<table class="maroonRoundedBorder">
  
<tr>
  <th class="firstHorizontalColumnHeader" >Dogs:</th>
  <th>Rigs:</th>
  <th class="lastHorizontalColumnHeader" >Hikes:</th>
</tr>
<tr>
  <td class="horizontalData">
      <% @trip.dogs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.rigs.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
  <td class="horizontalData">
      <% @trip.hikes.each do |obj| %>
        <%= link_to obj.name, obj %><br>
      <% end %>
  </td>
</tr>
</table>
</td></tr></table>
<%= render :partial => "/shared/crud_links_edit_new_list_writeup", :locals => { 
    :obj => @trip
 } %>

<% if @trip.trip_stories.size > 0 then %>
<h2><%= @trip.name %> <%= @trip.class.name %> Write-ups</h2>
<%= render :partial => "/shared/writeup_list", :locals => { 
  :obj_stories => @trip.trip_stories,
  :obj_field => "trip"
 } %>
 
<% else %>
<h2>No write-up exists for this trip yet.  
  <% if current_user %>  

  <%= link_to "Write one!", 
  {:controller => :trip_stories, :action => "new", :trip_id => @trip.id}, 
  {:title => "Add a write-up for this trip"} %>
  </h2>
  <% end %>
<% end %>
