<table>

<% @rigs.each do |rig| %>
  <tr>
    <td>
      <% if rig.photo.exists? then %>
        <%= link_to image_tag(rig.photo.url(:thumb)), rig %>
      <% end %>
    </td>
  	<td><%= link_to rig.dog.name + "\'s \"" + rig.name + "\"", rig %></td>
    <td><%= render :partial => "/shared/crud_links_edit_delete_small", :locals => {
        :obj => rig
     } %></td>
  </tr>
<% end %>
</table>

<br />

<%= render :partial => "/shared/crud_links_new", :locals => { 
    :obj => Rig
} %>

<p><%= link_to "Retired Rigs", retired_index_rigs_path %></p>
